<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AA101G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB connection</description>
    <res-ref-name>jdbc/iEatDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>com.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>login</filter-name>
    <filter-class>com.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>/bookmarkmeal/bookmarkmeal.do</url-pattern>
    <url-pattern>/bookmarkstore/bookmarkstore.do</url-pattern>
    <url-pattern>/article_report/article_report.do</url-pattern>
    <url-pattern>/article_response_report/article_response_report.do</url-pattern>
    <url-pattern>/Article_Response/article_response.do</url-pattern>
    <url-pattern>/front-end/member/memberupdate.jsp</url-pattern>
    <url-pattern>/front-end/member/emailupdate.jsp</url-pattern>
    <url-pattern>/front-end/member/membermenu.jsp</url-pattern>
    <url-pattern>/front-end/member/passwordupdate.jsp</url-pattern>
    <url-pattern>/front-end/member/personal.jsp</url-pattern>
    <url-pattern>/checkout/CheckOut.jsp</url-pattern>
    <url-pattern>/front-end/reservation/confirmReservation.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>Store_login</filter-name>
    <filter-class>com.filters.StoreLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Store_login</filter-name>
    <url-pattern>/front-end/store/personal.jsp</url-pattern>
    <url-pattern>/front-end/store/passwordupdate.jsp</url-pattern>
    <url-pattern>/front-end/store/storeMenu.jsp</url-pattern>
    <url-pattern>/front-end/store/storeUpdate.jsp</url-pattern>
    <url-pattern>/front-end/store/update_photo.jsp</url-pattern>
    <url-pattern>/front-end/discount/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.filters.BackEndLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/back-end/adm/*</url-pattern>
    <url-pattern>/back-end/member/*</url-pattern>
    <url-pattern>/back-end/store/*</url-pattern>
    <url-pattern>/back-end/qa/*</url-pattern>
    <url-pattern>/back-end/advertisement/*</url-pattern>
    <url-pattern>/back-end/report/*</url-pattern>
    <url-pattern>/back-end/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AdmServlet</servlet-name>
    <servlet-class>com.adm.controller.AdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmServlet</servlet-name>
    <url-pattern>/adm/adm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvertisementServlet</servlet-name>
    <servlet-class>com.advertisement.controller.AdvertisementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisementServlet</servlet-name>
    <url-pattern>/back-end/advertisement/advertisement.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiscountServlet</servlet-name>
    <servlet-class>com.discount.controller.DiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscountServlet</servlet-name>
    <url-pattern>/front-end/discount/discount.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.reservation.controller.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/reservation/reservation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>com.store.controller.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/store/store.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Store_reportServlet</servlet-name>
    <servlet-class>com.store_report.controller.Store_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Store_reportServlet</servlet-name>
    <url-pattern>/store_report/store_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Store_photoServlet</servlet-name>
    <servlet-class>com.store_photo.controller.Store_photoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Store_photoServlet</servlet-name>
    <url-pattern>/store_photo/store_photo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleResponseReportServlet</servlet-name>
    <servlet-class>com.article_response_report.controller.ArticleResponseReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleResponseReportServlet</servlet-name>
    <url-pattern>/article_response_report/article_response_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleResponseReportServlet2</servlet-name>
    <servlet-class>com.article_response_report.controller.ArticleResponseReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleResponseReportServlet</servlet-name>
    <url-pattern>/article_response_report/article_response_report.do2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleResponseServlet</servlet-name>
    <servlet-class>com.article_response.controller.Article_ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleResponseServlet</servlet-name>
    <url-pattern>/Article_Response/article_response.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.article.controller.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/article/article.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentReportServlet</servlet-name>
    <servlet-class>com.comment_report.controller.CommentReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentReportServlet</servlet-name>
    <url-pattern>/comment_report/comment_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationReportServlet</servlet-name>
    <servlet-class>com.reservation_report.controller.ReservationReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationReportServlet</servlet-name>
    <url-pattern>/reservation_report/reservation_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ord_ReportServlet</servlet-name>
    <servlet-class>com.ord_report.controller.Ord_ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ord_ReportServlet</servlet-name>
    <url-pattern>/ord_report/ord_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Article_reportServlet</servlet-name>
    <servlet-class>com.article_report.controller.Article_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article_reportServlet</servlet-name>
    <url-pattern>/article_report/article_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Article_reportServlet2</servlet-name>
    <servlet-class>com.article_report.controller.Article_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article_reportServlet</servlet-name>
    <url-pattern>/article_report/article_report.do2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-class>com.ord.controller.OrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet</servlet-name>
    <url-pattern>/ord/ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bookmark_StoreServlet</servlet-name>
    <servlet-class>com.bookmark_store.controller.Bookmark_StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookmark_StoreServlet</servlet-name>
    <url-pattern>/bookmarkstore/bookmarkstore.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bookmark_MealServlet</servlet-name>
    <servlet-class>com.bookmark_meal.controller.Bookmark_MealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookmark_MealServlet</servlet-name>
    <url-pattern>/bookmarkmeal/bookmarkmeal.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.checkout.controller.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/checkout/shopping.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MealServlet</servlet-name>
    <servlet-class>com.meal.controller.MealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealServlet</servlet-name>
    <url-pattern>/meal/meal.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TouswebbServlet</display-name>
    <servlet-name>TouswebbServlet</servlet-name>
    <servlet-class>com.tousweb.controller.TouswebbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TouswebbServlet</servlet-name>
    <url-pattern>/Tousweb/tousweb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>QAServlet</display-name>
    <servlet-name>QAServlet</servlet-name>
    <servlet-class>com.qa.controller.QaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QAServlet</servlet-name>
    <url-pattern>/qa/qa.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreCommentServlet</servlet-name>
    <servlet-class>com.store_comment.controller.StoreCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreCommentServlet</servlet-name>
    <url-pattern>/store_comment/store_comment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoRead</servlet-name>
    <servlet-class>com.tools.PhotoRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoRead</servlet-name>
    <url-pattern>/photo_read/photo_read.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdImageReader</servlet-name>
    <servlet-class>com.tools.OrdImageReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdImageReader</servlet-name>
    <url-pattern>/ord/ordImageReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicRead</servlet-name>
    <servlet-class>com.tools.PicRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicRead</servlet-name>
    <url-pattern>/reservation/reservationImageReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberImageReader</servlet-name>
    <servlet-class>com.tools.MemberImageReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberImageReader</servlet-name>
    <url-pattern>/member/memberImageReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MealPhotoRead</servlet-name>
    <servlet-class>com.tools.MealPhotoRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealPhotoRead</servlet-name>
    <url-pattern>/mealphoto_read/mealphoto_read.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StorePhotoRead</servlet-name>
    <servlet-class>com.tools.StorePhotoRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StorePhotoRead</servlet-name>
    <url-pattern>/StorePhotoRead/StorePhotoRead.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageMeal</servlet-name>
    <servlet-class>com.meal.model.ImageMeal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageMeal</servlet-name>
    <url-pattern>/front-end/discount/ImageMeal/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mealPicRead</servlet-name>
    <servlet-class>com.tools.mealPicRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mealPicRead</servlet-name>
    <url-pattern>/mealPicRead/mealPicRead.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvertisementImageReader</servlet-name>
    <servlet-class>com.tools.AdvertisementImageReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisementImageReader</servlet-name>
    <url-pattern>/advertisement/advertisementImageReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageAd</servlet-name>
    <servlet-class>com.advertisement.tools.ImageAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageAd</servlet-name>
    <url-pattern>/back-end/advertisement/ImageAd/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StorePhotoReader2</servlet-name>
    <servlet-class>com.tools.StorePhotoReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StorePhotoReader2</servlet-name>
    <url-pattern>/storePhotoReader2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoReader</servlet-name>
    <servlet-class>com.tools.PhotoReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoReader</servlet-name>
    <url-pattern>/PhotoReader</url-pattern>
  </servlet-mapping>
</web-app>
<!-- WebSocket註冊 -->